<template>
    <div>
        <div v-if="suggerimento" id="suggerimento">
            <ul>
                <li>
                    <font-awesome-icon icon="mouse-pointer"></font-awesome-icon> 
                    Selezione la data di inizio progetto con un click
                </li>
                <li>
                    <font-awesome-icon icon="mouse-pointer"></font-awesome-icon>
                    <font-awesome-icon icon="mouse-pointer"></font-awesome-icon>
                    Seleziona la data di fine progetto con un doppio click<br>
                    (solo se giorno inizio e giorno fine non coincidono)
                </li>
            </ul>
        </div>
        <div v-else id="outcome">
            <div class="wrapper-date">
                <div v-if="chosenPeriod.length > 0" class="start-date">
                    <div class="number-date">
                        <h3>{{ chosenPeriod[0].day }}</h3>
                    </div>
                    <div class="month-year-date">
                        <span class="month-date">{{ monthsList[chosenPeriod[0].month] }}</span>
                        <span class="year-date">{{ chosenPeriod[0].year }}</span>
                    </div>
                </div>
                <template>
                    <div v-if="chosenPeriod.length == 1" class="start-date">
                        <div class="number-date">
                            <h3 :style="{ color: colorError }">{{ chosenPeriod[0].day }}</h3>
                        </div>
                        <div class="month-year-date">
                            <span class="month-date">{{ monthsList[chosenPeriod[0].month] }}</span>
                            <span class="year-date">{{ chosenPeriod[0].year }}</span>
                        </div>
                    </div>
                    <div v-else-if="chosenPeriod.length > 1" class="end-date">
                        <div class="number-date">
                            <h3 :style="{ color: colorError }">{{ chosenPeriod[1].day }}</h3>
                        </div>
                        <div class="month-year-date">
                            <span class="month-date">{{ monthsList[chosenPeriod[1].month] }}</span>
                            <span class="year-date">{{ chosenPeriod[1].year }}</span>
                        </div>
                    </div>
                </template>
            </div>
            <p v-if="tip" :style="{ color: colorError, 'text-align': 'center', 'padding-bottom': '20px' }" class="hint">{{ tip }}</p> 
        </div>
        <div id="weekday">
            <ul>
                <li v-for="day in daysOfTheWeek" :key="day">{{ day }}</li>
            </ul>
        </div>
        <div class="months">
            <Day
                v-for="day in (showLastDaysPrevMonth.weekday - 1)"
                :day="showLastDaysPrevMonth.lastDayPrevMonth - (showLastDaysPrevMonth.weekday - day - 1)"
                :key="showLastDaysPrevMonth.lastDayPrevMonth - (showLastDaysPrevMonth.weekday - day) + 'p'"
                :fullDate="new Date(year, month - 1, showLastDaysPrevMonth.lastDayPrevMonth - (showLastDaysPrevMonth.weekday - day))"
                disabledDate>
            </Day>
            <Day 
                v-for="day in daysCurrentMonth" 
                :day="day"
                :key="day"
                :fullDate="new Date(year, month, day)"
                :highlightToday="day == today ? highlightToday : false"
                v-on:target-day="matchingDay($event)"
                :clicked="clickedFirst"
                :selectedDay="(inBetweenDays[`${monthsList[month]}${year}`] ? inBetweenDays[`${monthsList[month]}${year}`] : []).includes(day) ? true : false">
            </Day>
            <Day
                v-for="day in (6 - showNextDayNextMonth.weekday + 1)"
                :day="day"
                :key="day + 'n'"
                disabledDate>
            </Day>
        </div> 
    </div>
</template>

<script>
import { EventBus } from '../main'
import Day from './Day.vue'

export default {
    name: 'Calendar',
    components: {
        Day
    },
    data() {
        return {
            clickedFirst: false,
            rangeOfDays: {
                start: {
                    day: 0
                },
                end: {
                    day: 0
                }
            },
            colorError: null,
            startDate: null,
            endDate: null,
            chosenPeriod: [],
            daysOfTheWeek: ['lun', 'mar', 'mer', 'gio', 'ven', 'sab', 'dom'],
            highlightToday: false,
            today: null,
            tip: '',
            suggerimento: true,
            calendar: {
                _startDay: null,
                _endDay: null,
                _startMonth: null,
                _endMonth: null,
                _daysLeft: null,
                _startYear: null,
                _endYear: null,
                daysInChosenPeriod: {},
                subtract_from_here: 0,
                zero_point_month: 0,
                zero_point_day: 1,
                tempDaysArr: []  
            }
        }
    },
    props: ['year', 'month', 'monthsList'],
    methods: {
        matchingDay(obj) {
            this.suggerimento = false;
            if (obj.type === 'click') {
                this.chosenPeriod = [];
                this.startDate = null;
                this.endDate = null;
                EventBus.$emit('project-start-date', this.startDate);
                EventBus.$emit('project-end-date', this.endDate);
                this.rangeOfDays.start = {...obj};
                this.clickedFirst = this.rangeOfDays.start.clickedFirst;
                this.chosenPeriod.push(obj);
                this.tip = '';

            } else {
                this.chosenPeriod = this.chosenPeriod.length == 2 ? [] : this.chosenPeriod;
                this.startDate = null;
                this.endDate = null;
                EventBus.$emit('project-start-date', this.startDate);
                EventBus.$emit('project-end-date', this.endDate);
                this.rangeOfDays.end = {...obj};
                this.clickedFirst = this.rangeOfDays.end.clickedFirst;
                this.chosenPeriod.push(obj);
                this.tip = '';
            }
        },
        countdownDays(startMonth, endMonth, daysLeft, startDay, endDay, startYear, endYear) {
            this.calendar._startDay = startDay;
            this.calendar._endDay = endDay;
            this.calendar._startMonth = startMonth;
            this.calendar._endMonth = endMonth;
            this.calendar._daysLeft = daysLeft;
            this.calendar._startYear = startYear;
            this.calendar._endYear = endYear;
            this.calendar.decreaseDays = endDay;

            if (this.calendar._startMonth == this.calendar._endMonth && this.calendar._startYear == this.calendar._endYear) {

                // Data inizio e data fine sono all'interno dello stesso mese
                
                while (this.calendar._startDay <= this.calendar.decreaseDays) {
                    this.calendar.tempDaysArr.push(this.calendar.decreaseDays);
                    this.calendar.decreaseDays -= 1;
                }

                this.calendar.daysInChosenPeriod[`${this.monthsList[this.calendar._endMonth]}${this.calendar._endYear}`] = {};
                this.calendar.daysInChosenPeriod[`${this.monthsList[this.calendar._endMonth]}${this.calendar._endYear}`] = this.calendar.tempDaysArr;
                
                this.calendar.tempDaysArr = [];
                return this.calendar.daysInChosenPeriod;

            } else {
                // Data inizio e data fine sono su mesi e/o a cavallo di anni diversi
                let dateOnDiffYears = (flag = false) => {
                    return this.dateLogic(this.calendar.zero_point, this.calendar._endDay, this.calendar.zero_point_month, this.calendar._endMonth, this.calendar._endYear, this.calendar._daysLeft, flag, this.calendar._startYear)
                }

                let dateOnSameYears = (ed = this.calendar.subtract_from_here, em = 11, cy = this.calendar._startYear, flag = true) => {
                    return this.dateLogic(this.calendar._startDay, ed, this.calendar._startMonth, em, cy, this.calendar._daysLeft, flag)
                }

                this.calendar.subtract_from_here = new Date(this.calendar._endYear, this.calendar._endMonth + 1, 0).getDate(); 
                
                if (this.calendar._startYear < this.calendar._endYear) {
                    
                    while (this.calendar._startYear < this.calendar._endYear) {
                       
                        console.log('Anni diversi');
                        dateOnDiffYears();
                        this.calendar._endYear -= 1;
                        
                    }

                    dateOnSameYears();

                } else {
                    console.log('Stesso anno');
                    dateOnSameYears(this.calendar._endDay, this.calendar._endMonth, this.calendar._endYear, false);
                }
                
                return this.calendar.daysInChosenPeriod;
                
            }
        },
        dateLogic(sd, ed, sm, em, ey, dl, flag, sy = 0) {
            /* 
                sd -> _start || zero_point_day
                ed -> _end
                sm -> _startMonth || zero_point_month
                em -> _endMonth
                dl -> _daysLeft
                cy -> _endYear
            */
           console.log('++++++++++', sy);
            const EM = em;
            let _sd = sd;
            let _ed = ed;
            let _sm = sm;
            let _em = em;
            let _cy = ey;
            let _dl = dl;
            let _sy = sy;
            const FLAG = flag
            // const EM = _sm == em ? 99 : em;
            let _em_;
            // let tempDaysArr = [];
            while (_sm <= _em) {
                if (_em == EM && FLAG == false) {
                    
                    while (1 <= _ed) {
                        this.calendar.tempDaysArr.push(_ed);
                        _dl -= 1;
                        _ed -= 1;
                    }

                    this.calendar.daysInChosenPeriod[`${this.monthsList[_em]}${this.calendar._endYear}`] = {};
                    this.calendar.daysInChosenPeriod[`${this.monthsList[_em]}${this.calendar._endYear}`] = this.calendar.tempDaysArr;
                    this.calendar.tempDaysArr = [];
                    _em -= 1;

                    if (_em < 0) {
                        _cy = _sy;
                    }

                    _em_ = _em < 0 ? 11 : _em;
                    this.calendar.subtract_from_here = new Date(_cy, _em_ + 1, 0).getDate();

                } else if (_em == _sm) {
                    while (_sd <= this.calendar.subtract_from_here) {
                        this.calendar.tempDaysArr.push(this.calendar.subtract_from_here);
                        _dl -= 1;
                        this.calendar.subtract_from_here -= 1;
                    }

                    this.calendar.daysInChosenPeriod[`${this.monthsList[_em]}${this.calendar._endYear}`] = {};
                    this.calendar.daysInChosenPeriod[`${this.monthsList[_em]}${this.calendar._endYear}`] = this.calendar.tempDaysArr;
                    this.calendar.tempDaysArr = [];
                    _em -= 1;

                } else {
                    while (1 <= this.calendar.subtract_from_here) {
                        this.calendar.tempDaysArr.push(this.calendar.subtract_from_here);
                        _dl -= 1;
                        this.calendar.subtract_from_here -= 1;
                    }

                    this.calendar.daysInChosenPeriod[`${this.monthsList[_em]}${this.calendar._endYear}`] = {};
                    this.calendar.daysInChosenPeriod[`${this.monthsList[_em]}${this.calendar._endYear}`] = this.calendar.tempDaysArr;
                    this.calendar.tempDaysArr = [];
                    _em -= 1;
                    this.calendar.subtract_from_here = new Date(_cy, _em + 1, 0).getDate();
                }
            }
            
        }
    },
    computed: {
        daysCurrentMonth: function() {
            return new Date(this.year, this.month + 1, 0).getDate();
        },
        showLastDaysPrevMonth: function() {
            const PREV_MONTH = {};
            // First day of current month
            let firstDayCurrentMonth = new Date(this.year, this.month, 1).getDay();
            let lastDayPrevMonth = new Date(this.year, this.month, 0).getDate();
            PREV_MONTH.weekday = firstDayCurrentMonth;
            PREV_MONTH.lastDayPrevMonth = lastDayPrevMonth;
            return PREV_MONTH;
        },
        showNextDayNextMonth: function() {
            const NEXT_MONTH = {};
            let lastDayCurrentMonth = new Date(this.year, this.month + 1, 0).getDay();
            NEXT_MONTH.weekday = lastDayCurrentMonth;
            return NEXT_MONTH;
        },
         inBetweenDays: function() {
            let ibd = [];
            let markDays = {};

            /* 
            Errore se: 
            1) data fine è inferiore a data inizio nello stesso mese 
            2) mese fine è inferiore a mese inizio
            3) anno fine è inferiore a anno inizio
            */
            if ((this.rangeOfDays.end.year && this.rangeOfDays.start.year) &&
                (this.rangeOfDays.end.year < this.rangeOfDays.start.year) ||
                (this.rangeOfDays.end.month && this.rangeOfDays.start.month) && 
                (this.rangeOfDays.end.month < this.rangeOfDays.start.month) ||
                (this.rangeOfDays.end.month === this.rangeOfDays.start.month) && 
                (this.rangeOfDays.end.day && this.rangeOfDays.start.day) && 
                (this.rangeOfDays.end.day < this.rangeOfDays.start.day)) {
                this.tip = 'Data fine progetto inferiore a data inizio progetto';
                this.rangeOfDays.start = { day: 0 };
                this.rangeOfDays.end = { day: 0 };
                this.clickedFirst = false;
                this.colorError = '#F44336';

            } else if (this.rangeOfDays.end.clickedFirst === true && this.rangeOfDays.start.day == 0) {
                this.tip = 'Selezionare prima data di inizio (single click)';
                this.rangeOfDays.start = { day: 0 };
                this.rangeOfDays.end = { day: 0 };
                this.clickedFirst = false;
                this.colorError = '#F44336';
                this.chosenPeriod[0].day = '--';

            // Single day
            } else if (this.rangeOfDays.start.day && this.rangeOfDays.end.day == 0) {
                markDays[`${this.monthsList[this.rangeOfDays.start.month]}${this.year}`] = [this.rangeOfDays.start.day];
                this.startDate = this.rangeOfDays.start.currentDate;
                this.endDate = this.rangeOfDays.start.currentDate;
                EventBus.$emit('project-start-date', this.startDate);
                EventBus.$emit('project-end-date', this.endDate);
                this.rangeOfDays.end = { day: 0 };
                this.clickedFirst = false;
                this.colorError = null;

            } else if (this.rangeOfDays.start.month == this.rangeOfDays.end.month &&
                       this.rangeOfDays.start.day == this.rangeOfDays.end.day) {
                            
                            markDays[`${this.monthsList[this.rangeOfDays.start.month]}${this.year}`] = [this.rangeOfDays.start.day];
                            this.startDate = this.rangeOfDays.start.currentDate;
                            this.endDate = this.rangeOfDays.start.currentDate;
                            EventBus.$emit('project-start-date', this.startDate);
                            EventBus.$emit('project-end-date', this.endDate);
                            this.rangeOfDays.start = { day: 0 };
                            this.rangeOfDays.end = { day: 0 };
                            this.clickedFirst = false;
                            this.colorError = null;

            } else if ((this.rangeOfDays.end.year && this.rangeOfDays.start.year) &&
                        (this.rangeOfDays.end.year > this.rangeOfDays.start.year) ||
                        (this.rangeOfDays.end.month && this.rangeOfDays.start.month || this.rangeOfDays.start.month == 0) && 
                        (this.rangeOfDays.end.month > this.rangeOfDays.start.month) ||
                        (this.rangeOfDays.end.month === this.rangeOfDays.start.month) && 
                        (this.rangeOfDays.end.day && this.rangeOfDays.start.day) && 
                        (this.rangeOfDays.end.day > this.rangeOfDays.start.day)) {
                const date_diff = Math.floor((this.rangeOfDays.end.millisecond - this.rangeOfDays.start.millisecond) / (1000 * 3600 * 24));
                markDays = this.countdownDays(this.rangeOfDays.start.month, this.rangeOfDays.end.month, date_diff, this.rangeOfDays.start.day, this.rangeOfDays.end.day, this.rangeOfDays.start.year, this.rangeOfDays.end.year );
                this.startDate = this.rangeOfDays.start.currentDate;
                this.endDate = this.rangeOfDays.end.currentDate;
                EventBus.$emit('project-start-date', this.startDate);
                EventBus.$emit('project-end-date', this.endDate);
                this.rangeOfDays.start = { day: 0 };
                this.rangeOfDays.end = { day: 0 };
                this.clickedFirst = false;
                this.colorError = null;
                
            }
            return markDays; 
        },
    },
    mounted() {
        EventBus.$on('highlight-today', (result, today) => {
            if (result == true) {
                this.highlightToday = result;
                this.today = today;
            } else {
                this.today = null;
            }
        });
    }
}
</script>

<style lang="scss" scoped>
    #suggerimento ul {
        text-align: center;
        // padding-bottom: 20px;
        min-height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .fa-mouse-pointer { margin-right: 5px; }
    }
    #outcome {
        min-height: 140px;

        .wrapper-date {
            display: flex;
            justify-content: space-around;
        }
        .start-date, .end-date {
            margin: 0 10px;
            display: flex;

            .number-date {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;

                h3 { 
                    font-size: 4rem;
                    font-weight: bold; 
                }
            }

            .month-year-date {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .month-date {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                .year-date {
                    font-style: italic;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                }
            }
        }
    }
    #weekday ul {
        display: grid;
        grid-template-columns: repeat(7, minmax(60px, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        grid-column-gap: 10px;
        margin-bottom: 10px;
    }
    .months {
        display: grid;
        grid-template-columns: repeat(7, minmax(60px, 1fr));
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    
    @media screen and (max-width: 600px) {
        .months, #weekday ul {
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            grid-template-columns: repeat(7, minmax(20px, 1fr));
        }
        #outcome {
            .start-date, .end-date {
                .number-date h3 {
                    font-size: 3rem;
                }
            }
        }
         
    }
</style>


