<template>
    <div id="datepicker">
        <app-panel-date></app-panel-date>
    </div>
</template>

<script>
import PanelDate from './PanelDate.vue'

export default {
    name: 'Datapicker',
    components: {
        'app-panel-date': PanelDate
    }
}
</script>

<style lang="scss">
    #datepicker { padding: 0 15px; }
</style>


