<template>
        <div class="day" :class="dayStyles" @click="selectDay">
            <font-awesome-layers full-width class="fa-2x">
                <font-awesome-icon icon="calendar"/>
                <font-awesome-layers-text 
                        transform="shrink-10 down-3" 
                        :value="day" 
                        style="font-weight:900"/>
            </font-awesome-layers>
        </div>
</template>

<script>
import { EventBus } from '../main'

export default {
    name: 'Day',
    props: {
        fullDate: Date,
        day: Number,
        selectedDay: Boolean,
        clicked: Boolean,
        disabledDate: Boolean,
        highlightToday: Boolean
    },
    data() {
        return {
            clicks: 0,
            eventType: '',
            clickedFirst: null,
            timer: null,
            confirmDate : false
        }
    },
    methods: {
        selectDay(event) {
            this.clicks++
            
            EventBus.$on('reset-check-icon', (reset) => this.confirmDate = reset);
            
            if (this.clicks === 1) {
                // var self = this
                this.timer = setTimeout(() => {
                    this.clickedFirst = this.clicked === false ? true : false;
                    this.eventType = event.type;
                    this.clicks = 0;
                    this.confirmDate = true;
                    this.$emit('target-day', {day: this.day, month: this.fullDate.getMonth(), year: this.fullDate.getFullYear(), millisecond: this.fullDate.getTime(), type: this.eventType, clickedFirst: this.clickedFirst, currentDate: this.currentDate() });
                    // this.$emit('change-start-date');
                }, 500);
            } else {
                clearTimeout(this.timer);
                this.eventType = 'dblclick';
                this.clickedFirst = this.clicked === false ? true : false;
                this.clicks = 0;
                this.confirmDate = false;
                this.$emit('target-day', { 
                        day: this.day, 
                        month: this.fullDate.getMonth(), 
                        year: this.fullDate.getFullYear(), 
                        millisecond: this.fullDate.getTime(), 
                        type: this.eventType, 
                        clickedFirst: this.clickedFirst, 
                        currentDate: this.currentDate(),
                    });
                EventBus.$emit('reset-check-icon', this.confirmDate);
            } 
        },
        currentDate() {
            const selectedDay = this.fullDate.getDate();
            const selectedMonth = this.fullDate.getMonth() + 1;
            const selectedYear = this.fullDate.getFullYear();
            return `${selectedDay}/${selectedMonth}/${selectedYear}`;
        }
    },
    computed: {
        dayStyles() {
            return {
                highlightToday: this.highlightToday,
                selectedDay: this.selectedDay,
                disabledDate: this.disabledDate
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .day {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #8C8A80;
        cursor: pointer;

        &:hover {
            background-color: lighten(#755F70, 15%);
        }

        &:after {
            content: '';
            display: block;
            padding-top: 100%;
        }

        &.highlightToday {
            background-color: #755F70;
        }

        &.selectedDay {
            background-color: #91ffaf;
        }

        &.disabledDate {
            cursor: not-allowed;

            & .fa-calendar > path {
                fill: darken(#8C8A80, 20%);
            }
        } 

        .fa-calendar {
            path {
                fill: #251C23;
            }
        }
        @media screen and (max-width: 600px) {
            .fa-2x {
                font-size: 1.5rem;
            }
            
        }
    }
</style>