<template>
    <div>
        <div class="panel-date">
            <font-awesome-icon @click="prevMonth" icon="chevron-circle-left"></font-awesome-icon>
            <div>
                <button class="button is-desi is-outlined is-small">{{ showMonth }}</button>
                <span>{{ currentYear }}</span>
            </div>
            <font-awesome-icon @click="nextMonth" icon="chevron-circle-right"></font-awesome-icon>
        </div>
        <app-calendar :monthsList="months" :year="currentYear" :month="currentMonth"></app-calendar>
    </div>
</template>

<script>
import Calendar from './Calendar.vue'
import { EventBus } from '../main';

export default {
    name: 'PanelDate',
    components: {
        'app-calendar': Calendar
    },
    data() {
        return {
            months: ['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec'],
            currentYear: new Date().getFullYear(),
            currentMonth: new Date().getMonth(),
        }
    },
    methods: {
        detectMonth(month) {
            this.currentMonth = month;
        },
        nextMonth() {
            if (this.currentMonth > 10) {
                this.currentMonth = 0;
                this.currentYear++;
            } else {
                this.currentMonth++;
            }
            if (this.currentMonth == new Date().getMonth()) {
                this.today(this.currentMonth, true);
            } else {
                this.today(this.currentMonth, false);
            }
        },
        prevMonth() {
            if (this.currentMonth < 1) {
                this.currentMonth = 11;
                this.currentYear--;
            } else {
                this.currentMonth--;
            }
            if (this.currentMonth == new Date().getMonth()) {
                this.today(this.currentMonth, true);
            } else {
                this.today(this.currentMonth, false);
            }
        },
        today(current, flag) {
            EventBus.$emit('highlight-today', flag, new Date().getDate());
        }
    },
    computed: {
        showMonth: function() {
            let MM;
            switch (this.months[this.currentMonth]) {
                case 'jan':
                    MM = 'gennaio';
                    break;
                case 'feb': 
                    MM = 'febbraio';
                    break;
                case 'mar': 
                    MM = 'marzo';
                    break;
                case 'apr': 
                    MM = 'aprile';
                    break;
                case 'may': 
                    MM = 'maggio';
                    break;
                case 'june': 
                    MM = 'giugno';
                    break;
                case 'july': 
                    MM = 'luglio';
                    break;
                case 'aug': 
                    MM = 'agosto';
                    break;
                case 'sept': 
                    MM = 'settembre';
                    break;
                case 'oct': 
                    MM = 'ottobre';
                    break;
                case 'nov': 
                    MM = 'novembre';
                    break;
                case 'dec': 
                    MM = 'dicembre';
                    break;
            }
            return `${MM}`;
        } 
    },
    mounted() {
        this.today(this.currentMonth, true);
    }
}
</script>

<style lang="scss" scoped>
    .panel-date {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .fa-chevron-circle-left, .fa-chevron-circle-right { 
        font-size: 25px;
        cursor: pointer; 
    }

    .fa-chevron-circle-left { margin-right: 50px; }
    .fa-chevron-circle-right { margin-left: 50px; }

    button.is-desi {
        min-width: 80px;
        margin-right: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    @media screen and (max-width: 600px) {
        .panel-date {
            flex-direction: column;

            & > div { margin: 15px 0; } 
        }
        .fa-chevron-circle-left, .fa-chevron-circle-right { 
            margin: 0;
            transform: rotate(90deg) 
        }  
    }
</style>


