<template>
  <div id="app">
    <app-datapicker/>
  </div>
</template>

<script>
import Datapicker from './components/Datapicker.vue'

export default {
  name: 'app',
  components: {
    'app-datapicker': Datapicker
  }
}
</script>

<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$desi: #FEF5C4;
$desi-invert: findColorInvert($desi);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "desi": ($desi, $desi-invert)
);

// Import Bulma and Buefy styles
@import "~bulma";

body {
  color: #FEF5C4 !important;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #251C23;
  background-image: url('./assets/img-noise.png');
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  margin-top: 100px; 
}

@media screen and (max-width: 600px) {
  #app {
    margin-top: 30px;
  }  
}

</style>
